<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.riotbit.sublimeproject-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>82ADEFF3-046A-4303-BA00-9BC04D03FE57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51769064-2C17-4238-9F19-3F35B1F2CA7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B44F1F82-6CA1-4EE1-8319-E2C800FB06DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82ADEFF3-046A-4303-BA00-9BC04D03FE57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christian Klopp</string>
	<key>description</key>
	<string>Open your Sublimeprojects from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>sublimeproject-workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B44F1F82-6CA1-4EE1-8319-E2C800FB06DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>sub</string>
				<key>script</key>
				<string>python sublimeprojects-workflow.py {query}</string>
				<key>subtext</key>
				<string>Find Sublime Text 2 Projects</string>
				<key>title</key>
				<string>Sublime Text 2 Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>82ADEFF3-046A-4303-BA00-9BC04D03FE57</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl --project "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51769064-2C17-4238-9F19-3F35B1F2CA7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>sdafdsf</string>
	<key>uidata</key>
	<dict>
		<key>51769064-2C17-4238-9F19-3F35B1F2CA7D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>82ADEFF3-046A-4303-BA00-9BC04D03FE57</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B44F1F82-6CA1-4EE1-8319-E2C800FB06DF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/riotbit/sublimeprojects-workflow</string>
</dict>
</plist>
